<!DOCTYPE html>
<html>
<head>
	<title>Campfire</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<body>

<h1>Welcome to Campfire</h1>
{{{body}}}

</body>
</html>