<!DOCTYPE html>
<html>
<head>
	<title>Campfire</title>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <link rel="icon" type="image/png" href="/public/table/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/public/table/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/public/table/css/util.css">
    <link rel="stylesheet" type="text/css" href="/public/table/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

<div class="title-bar">
	<h1 id="title">Campfire</h1>
</div>


<div class="nav-bar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/create">Create</a></li>
		<li><a href="/filter">Filter</a></li>
		<li><a href="/about">About</a></li>
	</ul>




	<div id = "divider"></div>
</div>
{{{body}}}
<script src="/public/js/main.js"></script>
</body>
</html>

