<!DOCTYPE html>
<html>
<head>
	<title>Campfire</title>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<body>

<div class="title-bar">
	<h1 id="title">Campfire</h1>
</div>
<div class = "topcorner">
	<input type="search" id='search' placeholder="Search for a channel">
</div>


<div class="nav-bar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/create">Create</a></li>
		<li><a href="/">Filter</a></li>
		<li><a href="/">About</a></li>
	</ul>
	<div id = "divider"></div>
</div>
{{{body}}}
<script src="/public/js/main.js"></script>
</body>
</html>

