<!DOCTYPE html>

<!--<html> 
<head>
	<style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
		.image-box {
			display: grid;
			height: 100%;
			width: 100%;
  		    overflow-x: hidden; 

		}
		#top-image {
			max-width: 100%;
			width:100%;
			height: 100%;
			margin: auto;

		}
	</style>
</head>

<body>
	<div class="image-box">
		<img src="../public/assets/campfire-cooking.jpg" alt="campfire" id="top-image" >
	</div>

	<h2>About Us:</h2>

	<h3> Robert Choe</h3>
	<h3> Sandro Brognara </h3>
	<h3> TJ Shrestha </h3>

</body>
</html> -->

<html>
<head class='ignore-css'>
<style  type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
		.image-box {
			display: grid;
			height: 100%;
			width: 100%;
  		    overflow-x: hidden; 

		}
		#top-image {
			max-width: 100%;
			width:100%;
			height: 100%;
			margin: auto;

		}
		.ignore-css {
			all:unset;
		}
	
	</style>
  <title>About</title>
</head>

<body class='ignore-css' >

<div class='ignore-css' class="image-box">
	<img src="../public/assets/campfire-cooking.jpg" alt="campfire" id="top-image">
</div>
<hr width="100%">

<h2><b>About Us:</b></h2>
<hr width="100%">


<!--	<div class='ignore-css' class="image-box">
		<img src="../public/assets/campfire-cooking.jpg" alt="campfire" id="top-image">
	</div>

	<table class="ignore-css" style="width: 95%;" cellspacing="20" cols="5">
  	<tbody class="ignore-css">
    <tr class='ignore-css'>
    <td class='ignore-css' style="text-align: left; height: 250px;" width="500">
    <h2 class='ignore-css' style="margin-left: 30px;" align="left">Peter Kemper </h2>
    <h4 class='ignore-css' style="margin-left: 30px;"> Senior <br> 
	Department of Computer Science 
	<br>
	College of William and Mary 
	<br>
	P.O. Box 8795
	<br>
	Williamsburg, VA 23187-8795 
	<br>
    <br>
    </h4>

     <div class='ignore-css' style="margin-left: 30px;"> McGlothlin-Street Hall, 		#104A 
      		<br>
			Phone: 757-221-3462 
			<br>
			Fax: 757-221-1717 
			<br>
			Email: kemper at cs.wm.edu 
			<br>
      	<br>
      	</div>
      	</td>
      	<td class='ignore-css' style="text-align: right;" height="50%"> <img src="../public/robert-choe.jpeg" width="200"> 
      	<br>
      	</td>
    	</tr>
  	</tbody>
	</table> -->

<blockquote> Campfire is a ...</blockquote>
<hr width="100%">

<div>
<img src="../public/assets/robert-choe.jpeg" align='right'>
<br>
<h4>Robert Choe:</h4>
<br>
<blockquote>
Modeling, Techniques and Tools for Simulation and Optimization of
Discrete Event Systems, Stochastic Models for Performance and Dependability
Analysis, Human-Computer Interfaces, Brain-Computer Interfaces, Software Development, Analysis Techniques for Spatial-Temporal Data
</blockquote>
</div>
<hr width="100%">

<div>
<img src="../public/assets/sandro-brognara.jpg" align='right'>
<br>
<h4>Sandro Brognara: </h4>
<br>
<blockquote>
Modeling, Techniques and Tools for Simulation and Optimization of
Discrete Event Systems, Stochastic Models for Performance and Dependability
Analysis, Human-Computer Interfaces, Brain-Computer Interfaces, Software Development, Analysis Techniques for Spatial-Temporal Data
</blockquote>
<hr width="100%">
</div>

<div>
<img src="../public/assets/tj.jpg" align='right'>
<br>
<h4>TJ Shrestha: </h4>
<br>
<blockquote>
Modeling, Techniques and Tools for Simulation and Optimization of
Discrete Event Systems, Stochastic Models for Performance and Dependability
Analysis, Human-Computer Interfaces, Brain-Computer Interfaces, Software Development, Analysis Techniques for Spatial-Temporal Data
</blockquote>
</div>
<hr width="100%">

</body>
</html>