<!DOCTYPE html>
<html>
<head>
  <title>create</title>
</head>
<body>
 <link rel="stylesheet" type="text/css" href="/public/css/create-channel.css">
</body>
</html>

<form method="POST" action="/" id = "create-form">
      <fieldset>
        <legend><h2>Add a channel</h2></legend>
        Name: <br>
        <input autofocus type='text' name='name'><br>
        Genre: <br>
        <input type='text' name='genre'><br>
        Add a song to the queue:<br>
        <input type='text' name='song'><br>
        <br>
        <input type='submit' value='Submit'><br>
      </fieldset>
</form>
