  <form method="POST" action="/">
      <fieldset>
        <legend><h2>Add a channel</h2></legend>
        Name: <i>Max 100 chars</i><br>
        <input autofocus type='text' name='name'><br>
        Genre: <i>Max 100 chars</i><br>
        <input type='text' name='genre'><br>
        Add a song to the queue:<br>
        <input type='text' name='song'><br>
        <br>
        <input type='submit' value='Submit'><br>
      </fieldset>
</form>