h2 {
        color: darkblue;
    }
    .body {
        background-color: #FFFFFF;
    }

    .main {
        background-color: #ebdbff;
        padding-bottom: 40px;
    }

    .channel-header-inner {
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 85vw;
        overflow: hidden;
    }

    #autoplay {
        color: red;
    }
    .video-frame {
        margin-left: 25px;
        width: 580px;
        display:inline-block;
        text-align: center;
        background-color: #362F49;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #current-song {
        padding-top: 10px;
    }
    .button-row {
        width: 570px;
        margin: 0 auto;
        padding: 10px 5px;
        overflow: hidden;
    }
    #prev {
        float: left;
        box-shadow: 0 1px 1px #33333D;
        background-image: linear-gradient(to bottom, #464653, #3E3E49); 
        padding: 0 1em;
        border-radius: 0.125em;

    }
    #next {
        float: right;
        box-shadow: 0 1px 1px #33333D;
        background-image: linear-gradient(to bottom, #464653, #3E3E49); 
        padding: 0 1em;
        border-radius: 0.125em;
    }

    #add-song-form {
        margin: 0;
    }

    .info-container {
        display:inline-block;
        vertical-align: top;
        margin: 0 auto;
        width: 45vw;
    }
    ul#horizontal {
        list-style: none;
        vertical-align: top;
    }
    ul#horizontal li {
        display: inline;
        vertical-align: top;
        margin-right: 10px;
    }

    .separator {
        height: 30px;
        background-color: #362F49;
        margin: 0;
    }

    .add-song-container {
        display: inline-block;
        overflow: hidden;
        width: inherit;
        padding-bottom: 10px;
    }

    .comments-header {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .comments-container {
        width: 85vw;
        margin: 0 auto;
    }

    .comment-separator {
        height: 2px;
        background-color: #362F49;
    }

    .add-container {
        width: 500px;
        margin: 0 auto;
        padding-bottom: 25px;
        padding-top: 30px;
    }

    .comment {
        display: inline-block;
        padding-right: 30px;
        text-align: right;
        border-right: 2px solid gray;
        height: 100%;
    }

    .text {
        display: inline-block;
        padding-left: 50px;
        height: 100%;
    }

    .outer-comment-container {
        padding-top: 40px; 
        padding-bottom: 40px;
        height: 40vh;
    }

    /* .vertical-separator {
        border-left: 
        size: 30px;
    } */
