	body {
		margin: 0;
		color: black;
	}

	#title {
		color: black;
		margin: 0;
		padding-top: 5px;
		padding-bottom: 10px;
		font-size: 40px;
	}
	.title-bar {
		text-align: center;
	}
	.nav-bar {
		text-align: center;

	}
	.nav-bar li {
  		display: inline;
  		font-size: small;

	}
	.nav-bar ul {
		list-style-type: none;
 		margin: 0;
  		padding: 0;
	}
	.nav-bar a {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 20px;
		color: black;
		text-decoration: none;
	}
	#divider {
		margin-top: 8px;
		border-style: solid;
		border-width: 1px;
	}
	.topcorner {
		position: absolute;
		top: 25px;
		right: 15px;
		width: 30%;

	}
	


